/* TESTING */

header .row{
  width: 900px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1000px;
  }
}


@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

/* ++++++++++++++++++++++++++++++++ */
.front-content {
  position: relative;
  z-index: 2;
}

.color-black {
  color: #03273a !important;
}

.active {
  /* color: #007bff !important; */
}

.active-nav {
  background-color: #50AD55 !important;
}

.logo {
  width: 25rem;
  object-fit: contain;
}

.logo-top {
  float: left;
  margin-right: 20px;
}

.desktop {
  display: block;
}

.div-wrapper {
  position: relative;
  width: 100%;
  width: 100%;
}

.header-img {
  position: absolute;
  max-height: 950px;
  right: 0;
  bottom: -25px;
  z-index: 1;
}

#maps .header-img {
  bottom: 129px;
}

header .btn {
  margin-right: 1rem;
}

.padding-tb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padding-b-subTitle {
  padding-bottom: 2.5em !important;
}

.title-msg {
  color: white;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: #366d39 0.1em 0.1em 0.2em;
}

.subTitle {
  color: #50AD55;
  font-weight: 700;
}

.featIcon {
  height: 90px;
  margin: auto 0.8rem auto 0;
}

#features .card {
  height: 12rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  box-shadow: #B2B2B2 0.2em 0.2em 0.3em;
  border-radius: 0.5em;
}

#features .card-body {
  display: flex;
  align-items: flex-start;
}

#features .card-items {
  margin: 0 0.8rem;
}

.general {
  height: 100%;
}

.form-info {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10%;
  color: white;
}

.form-info h1 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.form-info p {
  font-size: 1.2rem;
}

.form-input {
  height: 100%;
  width: 50%;
  float: left;
  background-color: #FcFcFc;
}

.form-input form {
  border-style: hidden;
  padding: 10%;
}

.form-input .panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  margin: auto 0;
}

#nov .btn.submit:hover {
  background-color: #218838;
}

#cpn .btn.submit:hover {
  background-color: #659940;
}

#news .card.press {
  margin: 0 10% 2%;
  width: 80%;
  height: 600px;
  padding: 2rem 1.5rem;
  color: #5F5F5F;
  border: hidden;
}

#news .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: #B2B2B2 0.2em 0.2em 0.3em;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.5em;
  padding-left: 4em !important;
  padding-right: 4em !important;
}

#news h4, #news h5 {
  padding-bottom: 1rem;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23AFAFAF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23AFAFAF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
  background-color: #AFAFAF;
}

.carousel-indicators .active {
  background-color: grey;
}

section#mobhead {
  display: none;
  height: auto;
  padding: 5.2rem 0 5.1rem;
  position: relative;
  z-index: 2;
}

section#mobhead .mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #50AD55;
  width: 610px;
  margin: 0 auto;
}

#navbarResponsive {
  text-align: right;
}

#maps {
  background-color: lightgrey;
}

section#maps {
  height: 600px;
}

#maps .container, #congestion .container {
  position: relative;
}

.map-selector {
  background-color: #85BE5B;
  box-shadow: #B2B2B2 0.2em 0.2em 0.3em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em 4em;
  border-radius: 4px;
  position: absolute;
  right: 0;
}

.map-selector button {
  width: 100%;
}

.map-selector h2 {
  font-weight: 700;
}

#safety {
  background-image: url("../img/qbkls.png");
  background-size: auto;
}

.safety-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: #B2B2B2 0.2em 0.2em 0.3em;
  border-radius: 4px;
  width: 550px;
  padding: 3rem;
  padding-bottom: 4rem;
  margin: 70px 0;
  position: relative;
  z-index: 2;
  background-color: white;
}

.safety-div h2 {
  padding-bottom: 1.5rem;
  font-size: 2.5em;
}

.safety-div p {
  color: #5F5F5F;
  font-size: 1.3rem;
}

.safety-div a {
  position: relative;
  top: 1.5rem;
  font-size: 12px;
}

#safety ul {
  list-style-type: none;
  position: absolute;
  /* bottom: 670px; */
  bottom: 60px;
  z-index: 1;
  padding-left: 0;
  width: 90%;
}

#safety li {
  background-color: #1F8425;
  text-align: right;
  margin: 1rem 0;
  font-size: 1.1rem;
  padding: 0.8rem 2rem;
  border-radius: 0 50px 50px 0;
  color: white;
  font-style: italic;
}

#safety li.li-1 {
  width: 100%;
  background-color: #AFAFAF;
  color: #5F5F5F;
}

#safety li.li-2 {
  width: 95%;
}

#safety li.li-3 {
  width: 90%;
}

#safety li.li-4 {
  width: 89%;
}

#safety li.li-5 {
  width: 84%;
}

#safety li.li-6 {
  width: 80%;
}

#safety li.li-7 {
  width: 77%;
}

#safety li.li-8 {
  width: 76%;
}

#congestion {
  background-image: url("../img/traffic.jpg");
  background-size: cover;
  background-color: #9FD592;
  background-blend-mode: multiply;
}

.congestion-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #50AD55;
  box-shadow: grey 0.1em 0.1em 0.2em;
  color: white;
  border-radius: 4px;
  width: 550px;
  padding: 3rem;
  padding-bottom: 4rem;
  /* margin:70px 8rem; */
  position: absolute;
  right: 0;
  z-index: 2;
}

.congestion-div h2, .funding-div h2 {
  padding-bottom: 1.5rem;
  font-size: 2.5em;
  font-weight: 700;
}

.congestion-div p, .funding-div p {
  font-size: 1.3rem;
}

.congestion-div a, .funding-div a {
  position: relative;
  top: 1.5rem;
  font-size: 12px;
}

.funding-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: grey 0.1em 0.1em 0.2em;
  border-radius: 4px;
  width: 550px;
  padding: 3rem;
  padding-bottom: 4rem;
  /* margin:70px 8rem; */
  /* position: absolute;
	right:0; */
  z-index: 2;
}

#funding {
  background-image: url("../img/qbkls.png");
  background-size: auto;
}

.funding-IMG {
  float: right;
  width: 420px;
}

/*-----------------MEDIA QUIERIES-------*/
@media screen (max-width: 400px) {
  .header-img {
    height: 400px;
    bottom: -10px;
  }

  #maps .header-img {
    bottom: 144px;
  }
}

@media (max-height: 780px) {
  .header-img {
    max-height: 800px;
    bottom: -10px;
  }

  #maps .header-img {
    bottom: 128px;
  }

  section {
    height: 800px !important;
  }

  section#news {
    padding: 4em 0 !important;
  }
}

@media (max-width: 992px) {
  .desktop {
    display: none;
  }

  section#mobhead {
    display: block;
  }

  .header-img {
    height: 660px !important;
    bottom: 340px !important;
  }

  #maps .header-img {
    height: 560px !important;
    bottom: 520px !important;
  }

  header.masthead.mission {
    padding-bottom: 17rem;
  }
}

@media (max-width: 500px), and (max-height: 900) {

  /*mobile version*/
  .header-img {
    max-height: 400px;
    bottom: -10px;
  }
}
